<%- include('layouts/header.ejs') %>
</head>
<body>
<%- include('layouts/navigation.ejs') %>
<h1>Looks like we have a problem</h1>
<p>Please try it after some time</p>
<%- include('layouts/footer.ejs') %>